<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="google-site-verification" content="1T_cZCRwdbRghoYr9aiOv3uuMUKjoshjs2vI5qJuJkk"/>

  <title>konmari.cloud</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- CSS -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- JavaScript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">konmari.cloud</a>
      <% if current_user %>
        <span class="ml-3"><%= current_user.email %></span>
        <a class="btn btn-primary" href="/logout" role="button">Sign out</a>
      <% else %>
        <a class="btn btn-primary" href="/auth/google_oauth2" role="button">Sign in with Google</a>
      <% end %>
    </nav>
    <%= yield %>
  </div>
</body>
</html>